/**************************************************
*                                                 *
*                                                 *
*                                                 *
***************************************************/

/* Menu para todas as páginas */
@import url('variaveis.css');
@import url('responsividade.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    
    color: var(--text-color);
}

header{
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 12%;
    transition: all .50s ease;
}

header .logotipo{
    display: flex;
    align-items: center;
}

header .logotipo i{
    color: var(--main-color);
    font-size: 30px;
    margin-right: 3px;
}

header .menu{
    display: flex;
}

header .menu .menu-item .menu-link{
    color: var(--text-color);
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px 0px;
    margin: 0px 30px;
    transition: all .50s ease;
}

header .menu .menu-item .menu-link:hover,
header .menu .menu-item:hover .submenu .submenu-link:hover{
    color: var(--sub-main-color);
}

header .menu .menu-item .menu-link.selecionado{
    color: var(--main-color);
}

header .menu .menu-item .submenu{
    position: absolute;
    z-index: 999;
    display: none;
}

header .menu .menu-item:hover .submenu{
    display: block;
    margin-top: .5%;
    margin-left: 2%;
    padding: 5px;
    background-color: var(--bg-color);
    
}

header .menu .menu-item:hover .submenu .submenu-link{
    color: var(--text-color);
    font-size: 1.1em;
    transition: all .50s ease;
    padding-bottom: 20px;
}

header .menu-programador{
    display: flex;
    align-items: center;
}

header .menu-programador .perfil{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease; 
}

header .menu-programador .perfil:hover{
    color: var(--main-color);
}

header .menu-programador .perfil.selecionado{
    color: var(--main-color);
}

header .menu-programador #menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 1001;
    display: none;
}

/*
    Estilo para informação destacada
*/

.noticia-destaque{
    background: var(--bg-color);
    height: 120vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.linha .coluna1, .linha .coluna2{
    padding-right: 50px;
}

.coluna1 .coluna1-titulo{
    font-size: 60px;
    margin-bottom: 10px;
}

.coluna1 .coluna1-paragrafo{
    font-size: 25px;
    margin-bottom: 20px;
}

.coluna1 .noticia-destaque-botao{
    display: inline-block;
    margin-top: 5px;
    padding: 12px 50px;
    border-radius: 20px;
    border-style: none;
    color: var(--text-color);
    background: var(--main-color);
    font-size: 17px;
    font-weight: 600;
}

.coluna1 .noticia-destaque-botao:hover{
    background: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

/*
    ESTILOS PARA NOTÍCIA SUB DESTACADA
*/

.noticia-sub-destaque{
    background: var(--text-color);
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
}

.linha .coluna1, .linha .coluna2{
    padding-right: 50px;
}

.coluna1 .coluna1-titulo-sub-destaque{
    font-size: 60px;
    margin-bottom: 10px;
    color: var(--sub-main-color);
}

.coluna1 .coluna1-paragrafo-sub-destaque{
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--sub-main-color);
}


/*
    Estilo para os cards
*/

.noticias-card .noticias-card-titulo{
    color: var(--text-color);
    text-align: center;
    background: var(--bg-color);
    font-size: 2rem;
    margin-top: 150px;
}

.secoes-cards {
    background: var(--bg-color);
    height: 65vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #434343;

    font-size: 16px;
}

main.cards {
    display: flex;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .icon {
    width: 64px;
    height: 64px;
}

main.cards section.card img {
    width: 100%;
}

main.cards section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

main.cards section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px 0;
}

main.cards section.card.ver button {
    background: var(--main-color);
    color: white;
    text-transform: capitalize;
    padding: 5px 12.5%;
}

main.cards section.card.ver button:hover{
    background: var(--text-color);
    border: 1px solid var(--main-color);
    color: var(--sub-main-color);
    text-transform: capitalize;
    padding: 5px 12.5%;
}

/*
    ESTILO PARA O RODAPÉ
*/

footer{
    background: var(--bg-color);
    padding: 40px 0;
}

.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin: 10px 0;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fefefe;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
    text-decoration: underline;
}

.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid #fefefe;
    color: var(--text-color);
    background-color: transparent;
}

.footer-col .form-sub input::placeholder{
    color: #fefefe;
}

.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--main-color);        
}

.footer-col .form-sub button:hover{
    border: none;
    background-color:var(--text-color);        
    cursor: pointer;
    color: #000;
    border-radius: 3px;
    font-weight: bold;
}

